h3{
    border: 0;
    padding: 10px;
    text-align: center;
    background-color: blueviolet;
}

/* Para referise a un id #nombreId */
#titulo{
    background-color:brown;
    color: azure;
    border: 3px solid black;
    /* box-Shadow: right - bottom */
    /* box-shados: -x px - -x px - left - top*/
    box-shadow: -3px 5px red;

}

body{
    background-color: black;
}

/* Padre */
ul{
    background: yellowgreen;
    /* Hijo */
    li{
        color: rebeccapurple;
    }
}

ol{
    background-color: chocolate;
    li{
        color:cornflowerblue;
    }
}